@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

/* icon button */
.ytp-right-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#smarttube-note-button {
  padding-bottom: 6px;
  margin: 0;
  width: 48px;
  height: 48px;
}

#smarttube-note-button svg {
  width: 30px;
  height: 30px;
  fill: white;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

#smarttube-note-button:hover svg {
  opacity: 1;
}
